.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.react-dom-link {
  text-decoration: none;
}
.comment {
  display: flex;
  margin-bottom: 15px;
}
.comment-right {
  width: 100%;
  text-align: left
}
.comment-body {
  display: flex;
}
.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(17, 44, 87);
}
.comment-image {
  margin-right: 12px;
}
.comment-image img {
  border-radius: 50px;
}
.text {
  text-align: left;
}
.comment-replies {
  color: rgba(2, 88, 236, 0.676);
  cursor: pointer;
}
.comment-time {
font-size: small;
color: rgba(62, 59, 59, 0.676);
}
.card-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

/* header {
  position: relative;
  min-height: 150px;
} */

.news-link {
  margin: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
